<!DOCTYPE html>
<html lang="en">
   <head>
      <title>SF OAUTH AUTH</title>
    </head>
   <body>
      <form action = "login" method = "post">
         <p>Select Salesforce Environment</p>
         <p>
            <select name = "sf_env" id="sf_env">
                <option value="Production">Production</option>
                <option value="Sandbox">Sandbox</option>
                <option value="Dev">Dev</option>
              </select>
         </p>
         <p><input type = "submit" value = "Submit" /></p>
      </form>
   </body>
</html>